body {
    margin: 0;
    color: rgb(50,50,46,0.8);
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
    text-align: center;
}

a {
    color: rgb(50,50,46,0.9); 
}

a:hover {
    color: grey;
}

p, li, a, span, strong{
  font-size: 20px;
  letter-spacing:1px;
}

.btn {
  border-radius:10px;
}

#tsparticles{
  position: fixed;
  z-index: 0;
}


.me-logo {
    width: 150px;
}



