body {
    margin: 0;
    color: rgb(50,50,46,0.8);
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
    text-align: center;
}

a {
    color: rgb(50,50,46,0.9); 
}

a:hover {
    color: grey;
}

p, li, a, span, strong{
  font-size: 20px;
  letter-spacing:1px;
}

.btn {
  border-radius:10px;
}

#tsparticles{
  position: fixed;
  z-index: 0;
}


.me-logo {
    width: 150px;
}



/* blog-page */
.post-preview > a {
    color: #212529;
  }
  .post-preview > a:focus, .post-preview > a:hover {
    text-decoration: none;
    color: #0085A1;
  }
  .post-preview > a > .post-title {
    font-size: 1.875rem;
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
  }
  .post-preview > a > .post-subtitle {
    font-weight: 300;
    margin-bottom: 0.625rem;
  }
  .post-preview > .post-meta {
    font-size: 1.125rem;
    font-style: italic;
    margin-top: 0;
    color: #6c757d;
  }
  .post-preview > .post-meta > a {
    text-decoration: none;
  }
  @media (min-width: 992px) {
    .post-preview > a > .post-title {
      font-size: 2.25rem;
    }
  }

  /* message-page */

  

  
  .masthead {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 110%;
    padding-left: 10%;

  }
  .masthead:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
   
  }
  .masthead .masthead-content {
    position: relative;
    max-width: 35rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    line-height: 150%;
  }
  .masthead .masthead-content h1, .masthead .masthead-content .h1 {
    font-size: 5.0rem;
    text-align: left;
    padding-top: 5rem;
    line-height: 80%;
  }
  .masthead .masthead-content p {
    font-size: 2.5rem;
  }
  .masthead .masthead-content p strong {
    font-weight: 700;
  }
  .masthead .masthead-content .input-group-newsletter input {
    height: auto;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
  }
  .masthead .masthead-content .input-group-newsletter button {
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: calc(1rem + 2px);
  }
  
  @media (min-width: 992px) {
    .masthead {
      height: 100%;
      width: 95vw;
      min-height: 0;
      padding-bottom: 0;
      margin-top: 100px;
    }
    .masthead:before {
      transform: skewX(-9deg);
      transform-origin: top right;
    }
    .masthead .masthead-content {
      padding-top: 0;
      padding-bottom: 0;
   
      padding-right: 2rem;
    }
    .masthead .masthead-content h1, .masthead .masthead-content .h1 {
      font-size: 4.0rem;
    }
    .masthead .masthead-content p {
      font-size: 2.0rem;
      
    }
  }
  @media (min-width: 1200px) {
    .masthead {
      width: 75vw;
    }
  }