body {
    margin: 0;
    color: rgb(50,50,46,0.8);
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
    text-align: center;
}

a {
    color: rgb(50,50,46,0.9); 
}

a:hover {
    color: grey;
}

p, li, a, span, strong{
  font-size: 20px;
  letter-spacing:1px;
}

.btn {
  border-radius:10px;
}

#tsparticles{
  position: fixed;
  z-index: 0;
}


.me-logo {
    width: 150px;
}








/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  opacity: 1;
  background-color: gray;
  z-index: 0;
}

.here-me{
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: fixed;
  opacity: 1;
  z-index: -100;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

.hero-mainTitle {
  margin: 0 0 10px 0;
  font-size: 80px;
  font-family: "Satisfy", serif;
  color: white;
}

.hero-subTitle {
  color: white;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}



@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 575px) {
  .hero-mainTitle {
    font-size: 40px;
  }

  .hero-subTitle {
    text-align: center;
    margin-bottom: 30px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}


/* blog-page */
.post-preview > a {
    color: #212529;
  }
  .post-preview > a:focus, .post-preview > a:hover {
    text-decoration: none;
    color: #0085A1;
  }
  .post-preview > a > .post-title {
    font-size: 1.875rem;
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
  }
  .post-preview > a > .post-subtitle {
    font-weight: 300;
    margin-bottom: 0.625rem;
  }
  .post-preview > .post-meta {
    font-size: 1.125rem;
    font-style: italic;
    margin-top: 0;
    color: #6c757d;
  }
  .post-preview > .post-meta > a {
    text-decoration: none;
  }
  @media (min-width: 992px) {
    .post-preview > a > .post-title {
      font-size: 2.25rem;
    }
  }

  /* message-page */
  :root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #000000;
    --bs-primary: #2a5555;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #000000;
    --bs-primary-rgb: 42, 85, 85;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 0, 0, 0;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 0, 0, 0;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: DM Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #000000;
    --bs-body-bg: #fff;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }
  .masthead {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 110%;
    padding-left: 10%;

  }
  .masthead:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
   
  }
  .masthead .masthead-content {
    position: relative;
    max-width: 35rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .masthead .masthead-content h1, .masthead .masthead-content .h1 {
    font-size: 5.0rem;
    text-align: left;
    padding-top: 5rem;
  }
  .masthead .masthead-content p {
    font-size: 2.5rem;
  }
  .masthead .masthead-content p strong {
    font-weight: 700;
  }
  .masthead .masthead-content .input-group-newsletter input {
    height: auto;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
  }
  .masthead .masthead-content .input-group-newsletter button {
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: calc(1rem + 2px);
  }
  
  @media (min-width: 992px) {
    .masthead {
      height: 100%;
      width: 95vw;
      min-height: 0;
      padding-bottom: 0;
      margin-top: 100px;
    }
    .masthead:before {
      transform: skewX(-9deg);
      transform-origin: top right;
    }
    .masthead .masthead-content {
      padding-top: 0;
      padding-bottom: 0;
   
      padding-right: 2rem;
    }
    .masthead .masthead-content h1, .masthead .masthead-content .h1 {
      font-size: 4.0rem;
    }
    .masthead .masthead-content p {
      font-size: 2.0rem;
      
    }
  }
  @media (min-width: 1200px) {
    .masthead {
      width: 75vw;
    }
  }